@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --main-color-blue: #1e1e64;
  --main-color-white: #f6f5fc;

  --border-color: #ca3185;
  --icon-color: #24a5f4;
  --font-color-light: #f9f9fb;
  --font-color-dark: #424267;

  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.25rem;
  font-weight: 900;
}
h2 {
  font-size: 1rem;
  font-weight: 700;
}
.border-bottom {
  border-bottom: 4px dotted var(--border-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
}
.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  position: relative;
  height: 200px;
  background: var(--main-color-blue);
  padding: 0 3rem;
}
.left .copy {
  color: var(--font-color-light);
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.left p {
  font-weight: 500;
  font-size: 0.8rem;
}
.left h2 {
  line-height: 1.7;
  margin-top: 4.5rem;
  margin-bottom: 0;
}
.left .logo {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 10;
  font-size: 1.4rem;
}

.right {
  background: var(--main-color-white);
}
.right .copy {
  color: var(--font-color-dark);
  text-align: left;
}
.right h2 {
  font-size: 1.5rem;
}

.right form {
  width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  color: #2e2e2e;
  outline-color: rgba(64, 64, 233, 0.7);
  padding: 1em;
  margin-bottom: 0.7rem;
  font-size: 0.875rem;
  font-weight: 500;
}
label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #4d4d4d;
}

.signup-btn {
  display: block;
  width: 100%;
  background: var(--main-color-blue);
  color: var(--font-color-light);
  font-weight: 700;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 4px;
  font-size: 0.85rem;
  letter-spacing: 0.6px;
  cursor: pointer;
  animation: color 300ms ease-in-out;
}
.signup-btn:hover {
  background: #2c4893;
}

@media screen and (min-width: 900px) {
  .main-container {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    height: auto;
  }
  .left {
    width: 20%;
  }
  .left h2 {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
  .right {
    width: 80%;
    padding-left: 5rem;
    justify-content: start;
  }
}
